<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Layouts</title>
  </head>
  <body>
    <header>
      <h1>Header</h1>
    </header>
    <nav class="nav_bar"></nav>
    <main>
      <aside>
        <h2>This is Aside Element</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, ipsam
          possimus. Enim, consequuntur? Nisi porro sit aut tenetur officiis
          explicabo?
        </p>
      </aside>
      <section>
        <h2>This is Section Element</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
          officiis ex deleniti dignissimos sint, vero dolor tempore
        </p>
      </section>
      <article>
        <h2>This is Article Element</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut minima
          porro numquam veritatis molestias recusandae itaque nam, blanditiis
          tempore sit, provident architecto, dolore nihil animi obcaecati ab
          ipsa illo doloremque?
        </p>
      </article>
    </main>
    <footer>
      <p>CopyRight &copy; Justin Roy Pvt Ltd All Rights Reserved.</p>
    </footer>
  </body>
</html>
